/* Extra small devices */
@media only screen and (max-width: 480px) {
    .hero-content,
    .players,
    .highlight-content,
    .gallery-1,.gallery-2,
    .contact-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .section-title h1{
        font-size: 40px;
    }
    
    .hero-img{
        margin-top: 25px;
    }
    
    .hero-text h1,
    .highlight-text h1{
        font-size: 36px;
    }
    
    .hero-text .btn,
    .highlight-text .btn{
        margin-bottom: 40px;
    }
    
    .gallery-1{
        margin-bottom: 30px;
    }
    
    .gallery-1,.gallery-2{
        grid-row-gap: 30px;
    }

    .contact-info h3{
        font-size: 20px;
    }

    .contact-info a{
        font-size: 18px;
    }
    
    .contact-map{
        width: 100%;
        height: auto;
    }

    .footer-img img{
        width: 70%;
    }

    .footer-social a{
        margin: 10px 30px;
    }

    .footer-text{
        letter-spacing: 3px;
    }
}

/* Small devices */
@media only screen and (min-width: 540px) and (max-width: 767px){
    .hero-content,
    .highlight-content,
    .gallery-1,.gallery-2,
    .contact-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .hero-text h1,
    .highlight-text h1{
        font-size: 34px;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-1,.gallery-2{
        grid-row-gap: 20px;
    }

    .gallery-1 img, .gallery-2 img{
        height: auto;
    }

    .hero-img,
    .highlight-img{
        margin-top: 30px;
    }

    .contact-map{
        height: 300px;
    }

    .footer-img{
        width: 100%;
    }
}

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-content,
    .highlight-content,
    .gallery-1,.gallery-2,
    .contact-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-1,.gallery-2{
        grid-row-gap: 20px;
    }

    .gallery-1 img, .gallery-2 img{
        height: auto;
    }

    .hero-img,
    .highlight-img{
        margin-top: 40px;
    }

    .contact-map{
        height: 300px;
    }

    .footer-img{
        width: 100%;
    }
}